<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <meta name='description' content='Stormy Weather'/>
    <title>A02 B Stormy Weather</title>
    <link rel='stylesheet' href='../../src/css/overrides.css'/>
    <link rel='stylesheet' href='../../src/css/print.css' media='print'/> <!-- https://www.sitepoint.com/css-printer-friendly-pages/ -->
    <link rel='shortcut icon' href='../images/power.ico' type='image/x-icon'/> <!-- https://www.w3.org/2005/10/howto-favicon -->
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin/>
    <link href='https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap' rel='stylesheet'/> <!-- https://www.w3schools.com/css/css3_fonts.asp -->
  </head>
  <body>
    <div>
      <h1 class='text'>Stormy Weather</h1>
    </div>
    <div class='container'>
      <svg class='screen'><use xlink:href='#lnr-screen'></use></svg>
      <svg class='tablet'><use xlink:href='#lnr-tablet'></use></svg>
      <svg class='smartphone'><use xlink:href='#lnr-smartphone'></use></svg>
    </div>
    <div class='box'>
      <p class='song'>Life is bare, gloom and<br>
         mis'ry everywhere. Stormy<br>
         weather. Just can't get my<br>
         poor self together. I'm<br>
         weary all the time, so<br>
         weary all the time.</p>

        <p class='song'>When he went away the<br>
          blue walked in and met<br>
          me. If he stays away old<br>
          rockin' chair will get me.</p>
    </div>
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script> <!-- https://linearicons.com/free#about -->
  </body>
</html>
